name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Instal pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Instal pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Format
        run: pnpm format

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Instal pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check
        run: pnpm check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Instal pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Test
        run: pnpm test
